<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheBindingOfRandom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TheBindingOfRandom.Savedata" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <TheBindingOfRandom.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>The Binding of Random</value>
            </setting>
            <setting name="PlayedCharacters" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedCharacters" serializeAs="String">
                <value>3071</value>
            </setting>
            <setting name="PreventDuplicates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartKeyCombination" serializeAs="String">
                <value>Ctrl+Alt+R</value>
            </setting>
        </TheBindingOfRandom.Properties.Settings>
        <TheBindingOfRandom.Savedata>
            <setting name="Title" serializeAs="String">
                <value>The Binding of Random</value>
            </setting>
        </TheBindingOfRandom.Savedata>
    </userSettings>
</configuration>